*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

#nav-content{
    background-color: #ff0000;
}
#ul-content{
    list-style: none;
    display: flex;
    width: 30%;
}
#li-content{
    padding: 40px;
}

#li-content a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
   }

.img-logo{
    background-image: url("/img/logo.png");
    width: 10%;
    float: left;
    margin-top: 15px;
    
}

